{
  "username": "Gitlab",
  "avatar_url": "https://icon-icons.com/icons2/2415/PNG/128/gitlab_original_logo_icon_146503.png",
  "embeds": [
    {
      "author": {
        "name": "{{ JSON['user_name'] }}",
        "url": "https://gitlab.com/{{ JSON['user_username'] }}",
        "icon_url": "{{ JSON['user_avatar'] }}"
      },
      "title": "Pushed commit{{ 's' if (JSON['commits'] | length > 1) else '' }} to {{ JSON['project']['name'] }}:",
      "url": "{{ JSON['project']['web_url'] }}",
      "color": 3394611,
      "fields": [
        {
          "name": "Text",
          "value": "More text",
          "inline": true
        },
        {
          "name": "Even more text",
          "value": "Yup",
          "inline": true
        }
      ]
    }
  ]
}
